
## Two Important configurations We need to set up when we are working with Elastic BeanStalk 
## which is kind of instance that will be provided to you where we can probably deploy your entire
## application

## The Python Config file is mainly to tell to the Elastic BeanStalk instance, saying what is the
## entry point of the application


## It was option setting AWS Elastic Beanstalk container that we are going to use is Python.
## This is specifically for container as Python.

## If you are using Dockers for that there is a different process. 
## Right now we are not into Docker.

## This is the Easiest Technique for Deployment

## So uh over here you have w gi path with application.
## Now this application should be your app.py name .
## The the entry point of the file.

## That is the reason why I updated the code to application
## But the problem over here is that I don't have an application.py file.

## So what I will do the same application.py code.

##I will copy it and I will create a file over here just for my deployment purpose 
## which is application.py.